@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-zinc-900 h-full overflow-x-hidden;
}

#__next {
    @apply h-full;
  }
  
  html {
    @apply h-full;
  }

  /* .bg-black {
    background-color: black;
    opacity: 0.5; 
  } */

  /* .bg-red {
    background-color: black;
    opacity: 0.75; 
  }  */
  